deploy.run = ["npm", "start"]

run = ["npm", "start"]

language = "nodejs"
entrypoint = "package.json"
modules = ["nodejs-20"]

onBoot = "npm install"

[packager]
language = "nodejs"
ignoredPackages = ["**/node_modules"]
packageSearch = true
packageIgnore = ["**/node_modules"]

